<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/main.css" type="text/css" media="all">
    <title>Angular</title>
  </head>
  <body ng-app='TodoApp'>
    <section ng-controller='TodoCtrl'>
    <h1>{{title}}</h1>
    <div>
      <input type="text" ng-model='potato'>
      <!--<label for='filter2'>filter2</label>-->
      <!--<input type='text' ng-model+'filter2'> -->
      <input type='checkbox' ng-model='variableName'>
      <div>{{potato}}  </div>
      <div>{{variableName}}</div>
    </div>
    <div>
    <input type="text" ng-model="newTodo">
    <button type='submit' class"btn-default" ng-click='addTodo()'>New ToDo</button>
  </div>
  <div>
    <ul ng-repeat='eachItem in tasks | filter: potato | filter: filter2'>
      <li>{{eachItem.name}} {{eachItem.type}} <button ng-click='removeTodo(eachItem)'>Delete</button></li>
    </ul>
  </div>

  </section>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/todo.js"></script>
</body>
</html>
